{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrap. cdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/style.css'%}">

        <meta charset="utf-8">
        <title>Monoku</title>
    </head>
    <body>
        <h1>Inventario</h1> 

        <div>
            {% block content %}

            <ul>
                {% for producto in nombreproducto %}


                    <h1> {{producto }}</h1>
                    <p>{{producto.cantidad }}</P>
                    <P>{{producto.fechavencimiento}}</P>

                {% endfor %}
            </ul>
            
            {% endblock %}
        </div >
    </body>
</html>
