{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrap. cdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/style.css'%}">

        <meta charset="utf-8">
        <title>Monoku</title>
    </head>
    <body>
        <h1>Inventario MONOKU !</h1> 


        <img src="{% static "img/background.gif" %}" alt="Monoku">

        <div style="font-size:30px">
            {% if messages %}
                <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}

        </div>
        <div>

            {% block content %}

                <h3>Productos consumidos: {{cantidad_producto}} </h3> 
                <h3>Nomlbre de quien lo consumio: {{nombre_participante}}</h3> 
                <h3>Productos consumidos: {{producto_consumido}}</h3>



                <form method="POST" class="post-form">

                {% csrf_token %} 

                {{ form.as_p }}
                <button type="submit" class="save btn btn-default">Guardar</button>

                <a href="inventario/"> Inventario </a>



            {% endblock %}
            </form>

        </div >


    </body>
</html>

