{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrap. cdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/style.css'%}">

        <meta charset="utf-8">
        <title>Monoku</title>
    </head>
    <body>

        <h1>Inventario MONOKU !</h1> 
            {% block content %}
        <div>

          

                {% if messages %}
                    <ul class="messages">
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}





                <form method="POST" class="post-form">

                {% csrf_token %} 

                {{ form.as_p }}
                <button type="submit" class="save btn btn-default">Guardar</button>

                <a href="/"> Inventario </a>



            {% endblock %}
            </form>

        </div >


    </body>
</html>

