<!DOCTYPE html>
<html>
    <head>
        <title>Monoku</title>
    </head>
    <body>
        <h1>Inventario MONOKU ! </h1>
        <div>

            <h1><a href = "/" > Participante </a></h1 >

            <select>
                {% for participante in participantes %} 
                    <option> {{ participante.nombre }} </option>
                {% endfor %} 
            </select>

            <h1><a href = "/" > Producto </a></h1 >

            <select>
                {% for producto in productos %} 
                    <option> {{ producto.nombreproducto }} </option>
                {% endfor %} 
            </select>

        </div >
    </body>
</html>

